html {
	font-size: 16px;
}

body {
  margin: 0;
	padding: 0;
	overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(234, 234, 234) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*timepicker style*/
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
	padding-left: 0;
	padding-right: 0;
	width: 100px;
}

.react-datepicker__input-container {
	width: inherit;
}

.react-datepicker-wrapper {
	width: 100%;
}


/*home page styles*/

.masthead {
	background-image: linear-gradient(
					135deg,
					rgb(24, 42, 115) 0%,
					rgb(33, 138, 174) 69%,
					rgb(32, 167, 172) 89%
	) !important;
}

.masthead.segment {
	height: 100vh;
	padding: 1em 0 !important;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
	margin-left: 0.5em;
}

.masthead h1.ui.header {
	margin-top: 3em;
	margin-bottom: 0;
	font-size: 4em;
	font-weight: normal;
}

.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

.footer.segment {
	padding: 5em 0;
}

.secondary.inverted.pointing.menu {
	border: none;
}

/*end home page styles*/

/* navbar styles */

.ui.menu .item img.logo {
	margin-right: 1.5em;
}

.ui.fixed.menu {
	background-image: linear-gradient(
					135deg,
					rgb(24, 42, 115) 0%,
					rgb(33, 138, 174) 69%,
					rgb(32, 167, 172) 89%
	) !important;
}

.ui.main.container,
.main.segment {
	margin-top: 7em;
}

.ui.center.aligned.segment.attendance-preview {
	background-color: #f5f5f5;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
	margin-left: 0.5em;
}

.ui.menu .item>img:not(.ui) {
	margin-right: 1.5em !important;
}

.ui.menu:not(.vertical) .item>.button {
	margin-left: 0.5em;
}

/*chat comments*/

.ui.comments .comment .comments {
	padding-bottom: 0 !important;
	padding-left: 2em !important;
}

/* fixed issues with layouts */

div.ui.fixed.top.sticky {
	z-index: 10;
}

.ui.red.button.event {
	margin-left: auto;
}

.ui.vertical.menu {
	width: 100%;
}

div.ui.basic.segment.header {
	position: absolute;
	padding: 1.3em;
	margin: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #ffffff;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

h5.ui.header {
	margin: 0 0 .5em 0;
}

.tab-menu {
	display: flex;
}

.tab-item {
	padding: .5em 1em;
	display: flex;
	justify-content: center;
	align-content: center;
	cursor: pointer;
	border-right: 1px solid #cccccc;
}

.tab-item:last-child {
	border-right: none;
}

.tab-item:hover {
	background-color: #eeeeee;
}

.tab-item.active {
	background-color: #eeeeee;
}

@media only screen and (max-width: 767px) {
	.ui.menu .item>img:not(.ui) {
		margin-right: 0 !important;
	}
}

@media only screen and (max-width: 475px) {
	.ui.red.button.event {
		margin: .8em 0 0 0;
	}

	.ui.top.left.pointing.dropdown>.menu {
		left: -2.5em;
	}

	.ui.green.button.event {
		margin: .8em 0 0 0;
	}

	div.ui.basic.segment.header {
		font-weight: 400;
		font-size: .8rem;
	}

	.ui.tiny.button.map {
		font-size: 1em;
	}

	.ui.menu:not(.vertical) .item>.button {
		margin-left: 0;
	}

	div.item.eventItem {
		margin: 0 !important;
	}

	.tab-menu {
		flex-direction: column;
	}

	.tab-item {
		border-right: none;
		border-bottom: 1px solid #cccccc;
	}
}
